* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

.content {
    width: 100%;
    height: 100vh;
    position: relative;
    transition: opacity 0.3s ease;
}

.content::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 1%, #000000 100%);
}

.content::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, #000000 100%);
}

.content .videocontainer .plyr {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.content .videocontainer .controls {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.content .videocontainer .controls button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    margin: 0px 5px;
    cursor: pointer;
}

.content .textcontent {
    position: absolute;
    width: 315px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.content .textcontent.hide {
    opacity: 0;
}

.content.hide::before{
    opacity: 0;
}

.content.hide::after{
   height: 25%;
}

.content .textcontent img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.content .textcontent .title {
    color: #fff;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}

.content .textcontent .des {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width:1100px) {
    .content .textcontent {
        width: 315px;
    }
}

@media only screen and (max-width:600px) {
    .content .videocontainer .controls {
        bottom: 55px;
    }
}